/*Main LexSciBowl Sass-CSS Stylesheet*/

$blue: #52f;   //#97f; //these commented values
$yellow: #fc0; //#fd3; //are for a dark background
$white: #000;  //#eee;
$captioncolor: #000;
//What if I do an IMAGE as the color? Sorta like Kimono logo (actually no nvm reversed but yeah)


$contest: #f66;
$faq: #f93;
$schedule: #fc0;
$sponsors: #393;
$register: #009;

//Merriweather|Dosis|Poiret+One
$FFallback: "Segoe UI", "Open Sans", "Lucida Grande", Geneva, Tahoma, Verdana, Helvetica, sans-serif;
$FMainTitle: "Poiret One", $FFallback; //add a special flourish to the i in LexSciBowl?
$FSubtitle: "Quicksand", $FFallback;
$FNav: "Quicksand", $FFallback;
$FSectionTitle: /*"Dosis",*/ $FFallback;
$FText: "Georgia", "Times New Roman", serif;
/*@font-face { //fontsquirrel recommendation
	font-family: 'Intro';
	font-style: normal;
	font-weight: normal;
	src: url('Intro.eot');
	src: url('Intro.eot?#iefix') format('embedded-opentype'),
		url('Intro.ttf.woff') format('woff'),
		url('Intro.ttf.svg') format('svg');
}*/

/**
 * Quick fade on target to attract user attention
 */

@-webkit-keyframes target-fade {
    0% { background-color: rgba(0,0,0,.5); }
    100% { background-color: rgba(0,0,0,0); }
}
@-moz-keyframes target-fade {
    0% { background-color: rgba(0,0,0,.5); }
    100% { background-color: rgba(0,0,0,0); }
}


.fa-fb-f:before { //work around AdBlock
	content: "\f09a";
}
::selection{
	//background-color: rgba(0,0,0,10);
}

.lsb.l{color: $blue;}
.lsb.s{color: $yellow;}
.lsb.b{color: $white;}

a{
	color: #666;
	text-decoration: underline;
}
a.nolinkstyle{
	color: inherit;
	text-decoration: none;
}



body{
	position: absolute; top:0px; left:0px; right:0px; bottom:0px;
	background-color: white;
	padding: 0; margin: 0;
}

#bgimage{
	position: fixed; top:0; left:0; right:0; bottom:0;
	z-index: -1000;
	height: 200%;
	min-width: 100%;
	//background position center
	opacity: 0.5;
}

nav{ //Flex is awesome though :)
	position: fixed;
	top:0px; left:0px;
	z-index: 1000;
	
	//Not on mobile though
	transition: opacity 0.5s;
	opacity: 0.6;
	&:hover{opacity: 1.0;}

	@media (min-width: 900px){
		top: 35px; left: 35px;
		width: 130px;
	}
}
nav a{
	display: block;
	text-align: center;
	width:130px;
	height:30px;
	padding:20px 10px;

	vertical-align: top;

	font-size: 1.5em;
	font-family: $FNav;
	text-decoration: none;

	font-weight: 400;

	transition: all 0.5s;
	background-color: #000; color: #fff;
	&:hover, &:active{background-color: #fff; color: #000;}
	
	&#navreg{
		font-weight: 700;
		background-color: #eee; color: #000;
		&:hover, &:active{background-color: $yellow; color: $blue;}
	}

	@media (max-width: 900px){
		display: inline-block;
		width: auto;
	}
	@media (max-width: 500px){
		font-size: 11pt;
		padding: 5px 5px;
		height: 22px;
	}
}

body>header{
	height: 100%;
	text-align: center;
	#titlebox{
		display: inline-block;
		
		position: relative;
		top: 25%;
		@media (max-height: 800px){top: 20%}
		@media (max-height: 500px){top: 15%}
		@media (max-height: 300px){top: 10%}
		color: $captioncolor;
	}
	#contactbuttons{
		@media (max-width: 600px){display: none;}
		position: absolute;
		top: 50px;
		right: 50px;
		font-size: 30pt;
		i.fa{
			display: inline-block;
			width: 24pt; height: 24pt; padding: 0px;
			border-radius: 4px;
			margin: 5px;
			transition: all 0.3s;
			color: #666;
			text-align:center;
		}
		i.fa-envelope-o{
			padding:0px 4px 4px 3px;
		}
		
		i.fa-envelope-o:before{position: relative; top: 1px;}
		i.fa-fb-f:before{position: relative; top: 2px;}
		//i.fa-github:before{position: relative; top: 1px;}
		
		i.fa-envelope-o:hover{background-color: #999; color: white;}
		i.fa-fb-f:hover{background-color: #3B5998; color: white;}
		//i.fa-github:hover{background-color: #000; color: white;}
	}
	h1, h2, h3, .titlecaption1, .titlecaption2{
		display:block;
		font-family: $FSubtitle;
		text-align: center;
		margin: 0;
	}
	h1{
		font-family: $FMainTitle;
		letter-spacing: 0.05em;
		font-size: 3.1em;
		@media (min-width: 600px) and (min-height: 500px){font-size: 7.2em;}
		small{font-size: 0.9em;}
	}
	.titlecaption1{
		margin-top: -0.1em;
		font-size: 1.2em;
		font-weight: 700;
		@media (min-width: 600px) and (min-height: 500px){font-size: 1.6em;}
	}
	.titlecaption2{
		margin-top: 0.2em;
		font-size: 1.8em;
		font-weight: 400;
		@media (min-width: 600px) and (min-height: 500px){font-size: 3em;}
	}
	#btnreg{
		display: inline-block;
		font-size: 1.5em;
		@media (min-width: 600px) and (min-height: 500px){font-size: 2.4em;}
		padding: 0.7em 1em;
		margin-top: 0.7em;
		font-weight: 700;
		font-family: $FNav;
		background-color: #eee; color: #000;
		transition: all 0.5s;
		text-decoration: none;
		&:hover, &:active{background-color: $yellow; color: $blue;}
	}
}

section{
	font-family: $FText;

	header{ //rem instead of em, since rem is relative to HTML tag. 12pt = 16px = 1em = 100%.
		width: 100%;
		@media (max-width: 900px){height: 100px; font-size: 2.5em;}
		@media (max-width: 400px){height: 80px; font-size: 2.0em;}
		height: 200px; font-size: 5em;
		
		text-align: center;

		color: white;
		line-height: 1.8em;
		font-family: $FSectionTitle;

		p{
			line-height: 1.7em;
			margin: -1em 0 0 0;
			font-size: 0.5em;
		}
	}
	
	&#faq .content{
		@media (min-width: 900px){padding: 80px 30px 80px 90px;}
	}
	&#register .content{
		@media (min-width: 900px){padding: 40px 100px 40px 100px;}
	}
	
	.content{
		//Much help from http://stackoverflow.com/questions/7051768/justify-divs-with-css-to-fill-width-of-parent-container
		vertical-align: top;
		font-size: 1.3em;
		margin: 0 100px 100px 100px;
		padding: 40px 40px 40px 40px;
		@media (min-width: 900px){padding: 40px 40px 40px 100px;}
		
		opacity:0.85;
		
		text-align:center;
		
		background-color:white;
		
		#reglink{
			display: inline-block;
			font-size: 2em;
			padding: 0.7em;
			font-weight: 700;
			font-family: $FNav;
			background-color: #eee; color: #000;
			transition: all 0.5s;
			text-decoration: none;
			&:hover, &:active{background-color: $yellow; color: $blue;}
		}
		
		table{
			margin-left: auto;
			margin-right: auto;
			text-align: left;
			tr:nth-child(even) {
				background-color: #e3e3e3;
			}
			td{
				padding: 0.5em 1em 0 0;
			}
		}
		
		.box{
			text-align: left;
			background-color: white;
			padding: 10px; margin: 0px;
			font-family: Georgia, serif;
			font-size: 0.8em;
			vertical-align: top;
			
			//Blocky questions format
			width: 280px;
			display: inline-block;
			
			&:target {
				-webkit-animation: target-fade 2s 1;
				-moz-animation: target-fade 2s 1;
			}
			
			//Full-width questions format
			@media (max-width: 950px){
				margin: 10px 11px 10px 9px;
				width: 100%;
				display: block;
			}

			h3{
				font-size: 1.3em;
			}
			p{
				text-indent: 10px;
				line-height: 1.7em;
			}
			ul{
				padding: 0 0 0 2em;
				font-size: 0.9em;
				line-height: 1.7em;
			}
		}
	}
}

#contest header{background-color: $contest;}
#faq header{background-color: $faq;}
#schedule header{background-color: $schedule;}
#sponsors header{background-color: $sponsors;}
#register header{background-color: $register;}


footer{
	text-align:center;
	font-family: Georgia, serif;
	margin: 30px;
	p{
		margin: 0px;
	}
}

