/*Main LexSciBowl Sass-CSS Stylesheet*/
/*@font-face { //fontsquirrel recommendation
	font-family: 'Intro';
	font-style: normal;
	font-weight: normal;
	src: url('Intro.eot');
	src: url('Intro.eot?#iefix') format('embedded-opentype'),
		url('Intro.ttf.woff') format('woff'),
		url('Intro.ttf.svg') format('svg');
}*/
/**
 * Quick fade on target to attract user attention
 */
@-webkit-keyframes target-fade {
  0% {
    background-color: rgba(0, 0, 0, 0.5); }
  100% {
    background-color: transparent; } }
@-moz-keyframes target-fade {
  0% {
    background-color: rgba(0, 0, 0, 0.5); }
  100% {
    background-color: transparent; } }
.fa-fb-f:before {
  content: "\f09a"; }

.lsb.l {
  color: #52f; }

.lsb.s {
  color: #fc0; }

.lsb.b {
  color: #000; }

a {
  color: #444;
  text-decoration: underline; }

a.nolinkstyle {
  color: inherit;
  text-decoration: none; }

body {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: white;
  padding: 0;
  margin: 0; }

#bgimage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1000;
  height: 200%;
  min-width: 100%;
  opacity: 0.5; }

nav {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  transition: opacity 0.5s;
  opacity: 0.6; }
  nav:hover {
    opacity: 1.0; }
  @media (min-width: 900px) {
    nav {
      top: 35px;
      left: 35px;
      width: 130px; } }

nav a {
  display: block;
  text-align: center;
  width: 130px;
  height: 30px;
  padding: 20px 10px;
  vertical-align: top;
  font-size: 1.5em;
  font-family: "Quicksand", "Segoe UI", "Open Sans", "Lucida Grande", Geneva, Tahoma, Verdana, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: 400;
  transition: all 0.5s;
  background-color: #000;
  color: #fff; }
  nav a:hover, nav a:active {
    background-color: #fff;
    color: #000; }
  nav a#navreg {
    font-weight: 700;
    background-color: #eee;
    color: #000; }
    nav a#navreg:hover, nav a#navreg:active {
      background-color: #fc0;
      color: #52f; }
  @media (max-width: 900px) {
    nav a {
      display: inline-block;
      width: auto; } }
  @media (max-width: 900px) {
    nav a {
      font-size: 11pt;
      padding: 5px 5px;
      height: 20px; } }

body > header {
  height: 100%;
  text-align: center; }
  body > header #titlebox {
    display: inline-block;
    position: relative;
    top: 25%;
    color: #000; }
    @media (max-height: 800px) {
      body > header #titlebox {
        top: 20%; } }
    @media (max-height: 500px) {
      body > header #titlebox {
        top: 15%; } }
    @media (max-height: 300px) {
      body > header #titlebox {
        top: 10%; } }
  body > header #contactbuttons {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    font-size: 30pt; }
    @media (max-width: 600px) {
      body > header #contactbuttons {
        display: none; } }
    @media (max-width: 900px) {
      body > header #contactbuttons {
        font-size: 15pt; } }
    body > header #contactbuttons i.fa {
      display: inline-block;
      width: 30pt;
      height: 30pt;
      padding: 0px;
      border-radius: 4px;
      margin: 0.1em;
      transition: all 0.3s;
      color: #666;
      text-align: center; }
      @media (max-width: 900px) {
        body > header #contactbuttons i.fa {
          width: 15pt;
          height: 15pt; } }
    body > header #contactbuttons i.fa-envelope-o {
      padding: 0px 4px 4px 3px; }
    body > header #contactbuttons i.fa-envelope-o:before {
      position: relative;
      top: 1px; }
    body > header #contactbuttons i.fa-fb-f:before {
      position: relative;
      top: 2px; }
    body > header #contactbuttons i.fa-envelope-o:hover {
      background-color: #999;
      color: white; }
    body > header #contactbuttons i.fa-fb-f:hover {
      background-color: #3B5998;
      color: white; }
  body > header h1, body > header h2, body > header h3, body > header .titlecaption1, body > header .titlecaption2, body > header .titlecaption3 {
    display: block;
    font-family: "Quicksand", "Segoe UI", "Open Sans", "Lucida Grande", Geneva, Tahoma, Verdana, Helvetica, sans-serif;
    text-align: center;
    margin: 0; }
  body > header h1 {
    font-family: "Poiret One", "Segoe UI", "Open Sans", "Lucida Grande", Geneva, Tahoma, Verdana, Helvetica, sans-serif;
    letter-spacing: 0.05em;
    font-size: 3.1em; }
    @media (min-width: 600px) and (min-height: 500px) {
      body > header h1 {
        font-size: 7.2em; } }
    body > header h1 small {
      font-size: 0.9em; }
  body > header .titlecaption1 {
    margin-top: -0.1em;
    font-size: 1.2em;
    font-weight: 700; }
    @media (min-width: 600px) and (min-height: 500px) {
      body > header .titlecaption1 {
        font-size: 1.6em; } }
  body > header .titlecaption2 {
    margin-top: 0.2em;
    font-size: 1.8em;
    font-weight: 400; }
    @media (min-width: 600px) and (min-height: 500px) {
      body > header .titlecaption2 {
        font-size: 2.6em; } }
  body > header #btnreg {
    display: inline-block;
    font-size: 1.5em;
    padding: 0.7em 1em;
    padding-top: 0.4em;
    margin-top: 0.7em;
    font-weight: 700;
    font-family: "Quicksand", "Segoe UI", "Open Sans", "Lucida Grande", Geneva, Tahoma, Verdana, Helvetica, sans-serif;
    background-color: #eee;
    color: #000;
    transition: all 0.5s;
    text-decoration: none;
    width: 4em; }
    @media (min-width: 600px) and (min-height: 500px) {
      body > header #btnreg {
        font-size: 2.4em; } }
    body > header #btnreg:hover, body > header #btnreg:active {
      background-color: #fc0;
      color: #52f; }
  body > header #btnreg p {
    font-size: 0.4em;
    margin-top: 0.2em;
    margin-bottom: -0.6em; }
  body > header .titlecaption3 {
    margin-top: 0.4em;
    font-size: 0.8em;
    font-style: italic;
    font-weight: 400; }
    @media (min-width: 600px) and (min-height: 500px) {
      body > header .titlecaption3 {
        font-size: 1.2em; } }

section {
  font-family: "Georgia", "Times New Roman", serif; }
  section header {
    width: 100%;
    height: 200px;
    font-size: 5em;
    text-align: center;
    color: white;
    line-height: 1.8em;
    font-family: "Segoe UI", "Open Sans", "Lucida Grande", Geneva, Tahoma, Verdana, Helvetica, sans-serif; }
    @media (max-width: 900px) {
      section header {
        height: 100px;
        font-size: 2.5em; } }
    @media (max-width: 400px) {
      section header {
        height: 80px;
        font-size: 2.0em; } }
    section header p {
      font-family: "Quicksand", "Segoe UI", "Open Sans", "Lucida Grande", Geneva, Tahoma, Verdana, Helvetica, sans-serif;
      line-height: 1.7em;
      margin: -0.8em 0 0 0;
      font-size: 0.4em; }
  @media (min-width: 900px) {
    section#faq .content {
      padding: 80px 30px 80px 90px; } }
  @media (min-width: 900px) {
    section#register .content {
      padding: 40px 100px 40px 100px; } }
  section .content {
    vertical-align: top;
    font-size: 1.3em;
    margin: 0 100px 100px 100px;
    padding: 40px 40px 40px 40px;
    opacity: 0.85;
    text-align: center;
    background-color: white; }
    @media (max-width: 600px) {
      section .content {
        margin: 0; } }
    @media (min-width: 900px) {
      section .content {
        padding: 40px 40px 40px 100px; } }
    section .content #reglink {
      display: inline-block;
      font-size: 2em;
      padding: 0.4em 1em;
      font-weight: 700;
      font-family: "Quicksand", "Segoe UI", "Open Sans", "Lucida Grande", Geneva, Tahoma, Verdana, Helvetica, sans-serif;
      background-color: #eee;
      color: #000;
      transition: all 0.5s;
      text-decoration: none; }
      section .content #reglink:hover, section .content #reglink:active {
        background-color: #fc0;
        color: #52f; }
      section .content #reglink p {
        font-size: 0.5em;
        margin-top: -0.2em;
        margin-bottom: 0.2em; }
    section .content table {
      margin-left: auto;
      margin-right: auto;
      text-align: left; }
      section .content table tr:nth-child(even) {
        background-color: #e3e3e3; }
      section .content table td {
        padding: 0.5em 1em 0 0; }
      @media (max-width: 700px) {
        section .content table {
          font-size: 0.5em; } }
    section .content .box {
      text-align: left;
      background-color: white;
      padding: 10px;
      margin: 0px;
      font-family: Georgia, serif;
      font-size: 0.8em;
      vertical-align: top;
      width: 280px;
      display: inline-block; }
      section .content .box:target {
        -webkit-animation: target-fade 2s 1;
        -moz-animation: target-fade 2s 1; }
      @media (max-width: 950px) {
        section .content .box {
          margin: 10px 11px 10px 9px;
          width: 100%;
          display: block; } }
      @media (max-width: 600px) {
        section .content .box {
          margin: 0; } }
      section .content .box h3 {
        font-size: 1.3em; }
      section .content .box p {
        text-indent: 10px;
        line-height: 1.7em; }
      section .content .box ul {
        padding: 0 0 0 2em;
        font-size: 0.9em;
        line-height: 1.7em; }

#contest header {
  background-color: #f66; }

#faq header {
  background-color: #f93; }

#schedule header {
  background-color: #fc0; }

#sponsors header {
  background-color: #393; }

#register header {
  background-color: #009; }

footer {
  text-align: center;
  font-family: "Quicksand", "Segoe UI", "Open Sans", "Lucida Grande", Geneva, Tahoma, Verdana, Helvetica, sans-serif;
  margin: 30px; }
  footer p {
    margin: 0px; }

/*# sourceMappingURL=style.css.map */
