/*Main LexSciBowl Sass-CSS Stylesheet*/

nav{
	position: fixed;
	top: 0; bottom: 0; left: 0; width: 100px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	border-right: solid 1px #000;
	background-color: #000;
}
nav a{
	display: block;
	text-align: center;
	//vertical-align: middle; //hm not necessary if using icons in all of them

	text-decoration: none;
	color: #fff;
	font-size: 10pt;
	font-family: "Raleway", "Segoe UI", "Open Sans", Arial, sans-serif;

	background-color: transparent;
	border: solid 1px #fff;
	border-radius: 50%;
	margin: 10px;

	height:40px; width: 40px;
	&.selected{
		height: 50px; width: 50px;
	}

	i.fa{
		display: block;
	}

	transition: all 0.5s;
	&:hover{
		background-color: #fff;
		color:#000;
	}
}

#main{

}
