/*Main LexSciBowl Sass-CSS Stylesheet*/

$videobg_placeholder: gray;
$blue: #00ffff;
$yellow: #ffff00;

$contest: #ff6666;
$faq: #ff9933;
$team: #ffcc00;
$sponsors: #339933;
$register: #000099;

//Merriweather|Dosis|Poiret+One
$FFallback: "Segoe UI", "Open Sans", "Lucida Grande", Geneva, Tahoma, Verdana, Helvetica, sans-serif;
$FMainTitle: "Intro", $FFallback; //add a special flourish to the i in LexSciBowl?
$FSubtitle: "Quicksand", $FFallback;
$FNav: "Raleway", $FFallback;
$FSectionTitle: "Dosis", $FFallback;


.fa-fb-f:before { //work around AdBlock
	content: "\f09a";
}
@font-face { //fontsquirrel recommendation
	font-family: 'Intro';
	font-style: normal;
	font-weight: normal;
	src: url('Intro.eot');
	src: url('Intro.eot?#iefix') format('embedded-opentype'),
		url('Intro.ttf.woff') format('woff'),
		url('Intro.ttf.svg') format('svg');
}




.lsb.l{color: $blue;}
.lsb.s{color: $yellow;}
.lsb.b{color: white;}

nav{
	position: fixed;
	top: 0; bottom: 0; left: 0; width: 50px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	border-right: solid 1px #000;
	background-color: #000;
}
nav a{
	display: block;
	text-align: center;
	//vertical-align: middle; //hm not necessary if using icons in all of them

	text-decoration: none;
	color: #fff;
	font-size: 10pt;
	font-family: $FNav;

	background-color: transparent;
	border: solid 1px #fff;
	border-radius: 50%;
	margin: 10px;

	height:40px; width: 40px;
	&.selected{
		height: 50px; width: 50px;
	}

	i.fa{
		display: block;
	}

	transition: all 0.5s;
	&:hover{
		background-color: #fff;
		color:#000;
	}
}

#main{
	position: fixed;
	top: 0; bottom: 0; left: 50px; right: 0px;
	overflow-y: scroll;
}
#main>header{
	height: 100%;
	background-color: $videobg_placeholder;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#titlebox{
	color: white;
}
#contactbuttons{
	@media all and (max-width: 600px){display: none;}
	position: absolute;
	top: 5%;
	right: 5%;
	font-size: 24pt;
	i.fa{margin: 5px;}
}
h1, h2, h3, .titlecaption1, .titlecaption2{
	display:block;
	font-family: $FSubtitle;
	text-align: center;
	margin: 0;
}
h1{
	font-family: $FMainTitle;
	letter-spacing: 0.05em;
	@media all and (max-width: 600px){font-size: 3.1em;}
	@media all and (min-width: 600px){font-size: 6.5em;}
	small{font-size: 5em;}
}
.titlecaption1{
	margin-top: -0.1em;
	@media all and (max-width: 600px){font-size: 1.2em;}
	@media all and (min-width: 600px){font-size: 1.6em;}
}
.titlecaption2{
	margin-top: 0.2em;
	@media all and (max-width: 600px){font-size: 1.5em;}
	@media all and (min-width: 600px){font-size: 2.0em;}
}

section{
	height: 100%;
	text-align: center;
	background-color: $videobg_placeholder;

	header{ //rem instead of em, since rem is relative to HTML tag. 12pt = 16px = 1em = 100%.
		width: 100%;
		@media all and (max-height: 500px){height: 100px; font-size: 2.5em;}
		@media all and (min-height: 500px){height: 200px; font-size: 5em;}
		color: white;
		line-height: 1.8em;
		font-family: $FSectionTitle;

		p{
			line-height: 1.7em;
			margin: -1em 0 0 0;
			font-size: 0.5em;
		}
	}

	.content{
		width: 70%; margin-left: 10%;
		background-color: white;
		text-align: left;
		padding: 5%;
		font-size: 1.5em;
		min-height: 20%;
	}
	.content .contentbox{
		width: 25%;
		background-color: black;

	}
}

#contest header{background-color: $contest;}
#faq header{background-color: $faq;}
#team header{background-color: $team;}
#sponsors header{background-color: $sponsors;}
#register header{background-color: $register;}
